<html>

<head>
  <title>Vays Weather</title>
</head>

<body>
  {{>header}}
  <h1>Hi {{name}}, Welcome to Weather Application</h1>
  <form>
    <input placeholder="location" required>
    <button>submit</button>
  </form>
  <p id="output"></p>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>